@charset "utf-8";
/* CSS Document */
*{margin: 0; padding: 0; vertical-align: middle; }
html,body { font-family:'Microsoft YaHei', 'Arial'; font-size: 13px; color: #333; line-height:24px;}
ol, ul { list-style: none ;}
a {text-decoration: none; color: #333;}
img { border:0;  }
input, button, select, textarea { outline:none; border:none;} 

/* 清除浮动*/
.clearfix:after{content:'';display:block;height:0;clear:both;visibility:hidden;}

/* 清除margin*/
.ulm2n li:nth-child(2n){ margin-right:0px;}
.ulm3n li:nth-child(3n){ margin-right:0px;}
.ulm4n li:nth-child(4n){ margin-right:0px;}
.ulm5n li:nth-child(5n){ margin-right:0px;}
.ulm6n li:nth-child(6n){ margin-right:0px;}

/* 清除padding*/
.ulp2n li:nth-child(2n){ padding-right:0px;}
.ulp3n li:nth-child(3n){ padding-right:0px;}
.ulp4n li:nth-child(4n){ padding-right:0px;}
.ulp5n li:nth-child(5n){ padding-right:0px;}
.ulp6n li:nth-child(6n){ padding-right:0px;}


#menu { margin: 0; padding: 0; position: fixed; left: 10px; top: 10px; list-style-type: none; z-index: 9999;}
#menu li { float: left; margin:  0 10px 0 0; font-size: 14px;}
#menu a { float: left; padding: 10px 20px; background-color: #fff; color: #333; text-decoration: none;}
#menu .active a { color: #fff; background-color: #333;}
